<!DOCTYPE html>
<html>
  <head>
    <title>Resturo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src="https://unpkg.com/scrollreveal@4"></script>

  </head>
  <body>
   <div id="header">
    <ul class="main-nav">
      <li><a href="#" id="logo"><img src="/images/logovsml.png" alt="RESTURO"></a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
      <div class="wrapper">
       <div id="sectionR">
        <img src="/images/secR.png" alt="secR">
       </div>
       <div id="title">
        <img src="/images/logo.png" alt="resturo">
        <p>Digitise Your Restaurant Now!</p>
       </div>
      
      </div>
    </div>
    <div class="sec2 wrapper" id="sec2">
      <div class="whatdo ">
        <h1>What We do!</h1>
        <p>Resturo brings an app that lets you order food or drinks directly form your table, without wainting for any waiter! We bring your whole restaurant into one app!</p>
      </div>
      <img src="/images/sec2hand.png" alt="sec2">

    </div>
    <div class="sec-divider ">
      <div class="wrapper">
      <h1>How It Works</h1>
      </div>

    <div class="how-it-works">
      <div class="wrapper">
        <h1>Its magic</h1>
      </div>
    </div>

    <div class="footer"></div>
  </body>
  <script src="/javascripts/app.js"></script> 
  <script>
	</script>
</html>
